.card {
  margin-top: 150px;
}
.editFormControl {
  margin-top: 6px;
}
.cta {
  float: left;
  margin-left: 4px;
  margin-top: 2px;
}

.list-group-item-action {
  width: 62%;
  float: left;
  margin-bottom: 8px;
}
.taskListContainer {
  float: left;
  margin-bottom: 8px;
}
.taskList {
  cursor: text !important;
}
.updateTaskButton {
  margin-top: 20px;
}
